@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "";
}

<!-- SweetAlert2 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

<!DOCTYPE html>
<html>


<head>
    <!--meta tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Residize</title>
    <!-- favicon -->
    <!--<link rel="shortcut icon" href="../../App_Themes/Default/images/favicon.ico" type="image/x-icon">-->


    <link href="../../App_Themes/Default/css/kendo.common.min.css" rel="stylesheet" />
    <link href="../../App_Themes/Default/css/kendo.default.min.css" rel="stylesheet" />
    <link href="../../App_Themes/Default/css/fonts.css" rel="stylesheet" />
    <link href="../../App_Themes/Default/css/styleguide.css" rel="stylesheet" />
    <link href="../../App_Themes/Default/css/responsive.css" rel="stylesheet" />
    <link href="../../App_Themes/Default/css/casepoint.comfortable.css" rel="stylesheet" />
    <link href="../../App_Themes/Default/css/kendo.Yellow.css" rel="stylesheet" />

    <link href="../../App_Themes/Default/css/login.css" rel="stylesheet" />
    <script src="../../Scripts/Kendo/jquery.min.js"></script>
    <script src="../../Scripts/Kendo/kendo.all.min.js"></script>
    <link href="../../css/site.css" rel="stylesheet" />
    @* <script src="../../js/loginKenoValidation.js"></script> *@

    <style>
        .loginpage-box-wrapper .loginpage-box-content .form-group .login-textbox-icon {
            top: 17px !important;
        }

        .k-invalid-msg {
            color: #FF5A5A !important;
            background-color: #FFF7F7 !important;
            border: 1px solid #FF5A5A !important;
        }
    </style>

    <script>
        if (!'@ViewBag.Email') {
            window.location.href = '@Url.Action("Login", "Account")';
        }
    </script>

</head>

<body>
    <div class="login-bg-wrapper d-flex flex-column">
        <div class="login-logo-header d-flex align-items-center">
            <a href="#" class="login-logo-wrapper"><img src="../../App_Themes/Default/images/residize.png"
                    class="login-logo-img" alt="Clarent Institute" /></a>
        </div>
        <div class="login-graphic-wrapper flex-1 overflow-auto d-flex flex-wrap">
            <div class="login-left-wrapper">
                <div>
                    <img src="../../App_Themes/Default/images/login2.png" alt="Clarent Institute"
                        class="login-graphice-img" />
                </div>
            </div>


            <div class="login-right-wrapper">
                <div class="loginpage-box-wrapper">
                    <h2 class="login-title text-dark font-bold">Reset Password</h2>
                    <div id="notification"></div>

                    <div class="loginpage-box-content" id="changePasswordWindow">
                        <form id="passwordForm">
                            <div class="form-group">
                                <input type="password" class="k-textbox login-textbox" placeholder="New Password"
                                    id="NewPassword" name="NewPassword" required>
                                <span class="login-textbox-icon"><i class="icon-locked" id="NPassword"></i></span>
                                @* <span class="text-danger" asp-validation-for="NewPassword"></span> *@

                                <span class="k-invalid-msg" data-for="NewPassword"></span>
                            </div>
                            <div class="form-group">
                                <input type="password" class="k-textbox login-textbox" placeholder="Confirm Password"
                                    id="ConformPassword" name="ConformPassword" required>
                                <span class="login-textbox-icon"><i class="icon-locked" id="CPassword"></i></span>
                                @* <span class="text-danger" asp-validation-for="ConformPassword"></span> *@

                                <span class="k-invalid-msg" data-for="ConformPassword"></span>
                            </div>
                            <div class="form-group pb-10">
                                <button type="button" style="height: 50px;font-size: 18px;"
                                    class="btn btn-primary k-button w100" id="btnChangePassword">Reset Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>


        $(document).ready(function () {
            $("#NPassword").on("click", function () {
                const passwordInput = $("#NewPassword");
                const inputType = passwordInput.attr("type");

                if (inputType === "password") {
                    passwordInput.attr("type", "text");
                    $(this).removeClass("icon-locked").addClass("icon-unlock");
                } else {
                    passwordInput.attr("type", "password");
                    $(this).removeClass("icon-unlock").addClass("icon-locked");
                }


            });
            $("#CPassword").on("click", function () {
                const passwordInput = $("#ConformPassword");
                const inputType = passwordInput.attr("type");

                if (inputType === "password") {
                    passwordInput.attr("type", "text");
                    $(this).removeClass("icon-locked").addClass("icon-unlock");
                } else {
                    passwordInput.attr("type", "password");
                    $(this).removeClass("icon-unlock").addClass("icon-locked");
                }
            });

            $(".toggle-password").on("click", function () {
                const targetInput = $($(this).data("target"));
                const inputType = targetInput.attr("type");
                targetInput.attr("type", inputType === "password" ? "text" : "password");
                $(this).find("i").toggleClass("fa-eye fa-eye-slash");
            });

            $("#passwordForm").kendoValidator({
                messages: {
                    required: "This field is required",
                    custom: "Passwords do not match",
                    strongPassword: "Password must be at least 8 characters, include uppercase, lowercase, digits, and a special character.",

                },
                rules: {
                    custom: function (input) {
                        if (input.is("#ConformPassword")) {
                            return input.val() === $("#NewPassword").val();
                        }
                        return true;
                    },
                    strongPassword: function (input) {
                        if (input.is("#NewPassword") && input.val()) {
                            return /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[\W_])[A-Za-z\d\W_]{8,}$/.test(input.val());
                        }
                        return true;
                    },
                },
            });


            $("#btnChangePassword").on("click", function () {
                var NewPassword = $("#NewPassword").val();
                var ConformPassword = $("#ConformPassword").val();

                var validator = $("#passwordForm").data("kendoValidator");
                if (validator.validate()) {


                    const email = '@ViewBag.Email';


                    var formData = new FormData();
                    formData.append("EmailAddress", email);
                    formData.append("NewPassword", NewPassword);


                    console.log("Form Data:", FormData);
                    $.ajax({
                        url: "/Account/ResetPassword",
                        type: "POST",
                        processData: false,
                        contentType: false,
                        data: formData,
                        success: function (response) {
                            console.log("API Response:", response);
                            Swal.fire({
                                icon: "success",
                                title: "Success!",
                                text: "Password reset successfully.",
                            }).then(() => {
                                window.location.href = "/Account/Login";

                            });
                        },
                        error: function (xhr) {
                            console.error("Error:", xhr);
                            Swal.fire({
                                icon: "error",
                                title: "Error!",
                                text: xhr.responseText || "An error occurred. Please try again.",
                            });
                        },
                    });
                }



            });


        });

    </script>
</body>

</html>
